# Server address
FLINTERNET_HOST=0.0.0.0

# Server port
FLINTERNET_PORT=8021

# Enables or disables disk caching
#FLINTERNET_DISK_CACHE=true

# Defines the amount of disk space (in megabytes) used for caching
#FLINTERNET_DISK_CACHE_LIMIT=1024

# Enables or disables RAM caching
#FLINTERNET_MEMORY_CACHE=true

# Defines the amount of RAM (in megabytes) used for caching
#FLINTERNET_MEMORY_CACHE_LIMIT=50

# Flinternet will use this DNS in case the system fails to resolve it, useful for limited environments
FLINTERNET_FALLBACK_DNS=1.1.1.1

# Preload next page
#FLINTERNET_PRELOAD=true

# Preload images on the next page as well
#FLINTERNET_PRELOAD_IMAGES=true

# Show internal errors on error pages to client
#FLINTERNET_SHOW_ERRORS_TO_CLIENT=true
