# Server address
BINTERNET_HOST=0.0.0.0

# Server port
BINTERNET_PORT=8021

# Enables or disables disk caching
#BINTERNET_DISK_CACHE=true

# Defines the amount of disk space (in megabytes) used for caching
#BINTERNET_DISK_CACHE_LIMIT=1024

# Enables or disables RAM caching
#BINTERNET_MEMORY_CACHE=true

# Defines the amount of RAM (in megabytes) used for caching
#BINTERNET_MEMORY_CACHE_LIMIT=256

# Binternet will use this DNS in case the system fails to resolve it, useful for limited environments
BINTERNET_FALLBACK_DNS=1.1.1.1

# Preload next page
#BINTERNET_PRELOAD=true

# Preload images on the next page as well
#BINTERNET_PRELOAD_IMAGES=true

# Show internal errors on error pages to client
#BINTERNET_SHOW_ERRORS_TO_CLIENT=true
