{{template "header.html" .}}
<title>Legal - Binternet</title>
</head>

<body>
    <div style="margin: 20px;">
        <h1 style="font-size: 50px; margin: 0;"><a class="accent" href="/">Binternet</a></h1>
    </div>
    <div class="mainContainer">
        <h2 style="text-align: center;">Legal Notice</h2>
        <div class="bodyText" style="max-width: 800px; margin: 0 auto; text-align: left; padding: 20px; margin-bottom: 100px;">
            <p>Binternet doesn't host any content. All content shown on any Binternet instances is from Pinterest™.
                Pinterest is a registered trademark of Pinterest Inc. Binternet is not affiliated with Pinterest Inc.
                Any issues with content shown on any Binternet instances need to be reported to Pinterest, not the
                instance host's internet provider or domain provider.</p>
            <p>Cloudflare is a registered trademark of Cloudflare, Inc. Binternet is not affiliated with Cloudflare,
                Inc.</p>
        </div>
    </div>
{{template "footer.html" .}}